*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background: url(earth.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transform-style: preserve-3d;
}
.earth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    background: url(image.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0,0,0,1), 0 0 50px #268cec;
    animation: animateEarth 15s linear infinite;
}
@keyframes animateEarth{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -750px 0;
    }
}
.sun{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(90%, -150%);
    width: 500px;
    height: 500px;
    background: url(sun.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0,0,0,1), 0 0 50px #e02c1f;
    animation: animateSun 25s linear infinite;
}
@keyframes animateSun{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -750px 0;
    }
}